#image {
	width: 400px;
	height: 200px;
	position: absolute;
	right: 590px;
	top: 100px;
	border: solid white 2px;
}	

#options {
	list-style-type: none;
	position: absolute;
    bottom: 0;
    width: 90.5%;
    height: 200px;
    text-align: center;	
}

h1 {
	color: white;
}

button {
	height: 50px;
	width: 125px;
	margin: 25px;
	background-color: black;
	color: white;
	border-color: solid black;
}

#title {
	text-align: center;
	font-size: 30px;
	font-family: sans-serif;
}

#text {
	background-color: black;
	color: white;
	border: solid white 2px;
	position: absolute;
	left: 500px;
	top: 330px;
	width: 480px;
	height: 200px;
}
